extends layout

block content
  h1 Shoes Form
  from(action="/results" method="post")
    label(for="verification") Are you 12 or above?
    input(type="checkbox" name="verification" id="verification" value="verification")
    p Choose which shoes brand you think is the best below;
    input(type="radio" name ="shoes" id="nike" value="nike")
    label(for="nike") Nike
    br
    input(type="radio" name ="shoes" id="skechers" value="skechers" checked)
    label(for="skechers") Skechers
    br
    input(type="radio" name ="shoes" id="adidas" value="adidas")
    label(for="adidas") Adidas
    br
    input(type="radio" name ="shoes" id="jordan" value="jordan")
    label(for="jordan") Jordan
    br
    input(type="radio" name ="shoesOther" id="other" value="noneOfThose")
    label(for="other") Other
    br
    br
    label(for="description") Explain why the shoes you've chose are the best?
    br
    textarea(id = "description" name = "description" cols=40 rows=5)
    br
    br
    button(type="submit") Submit This

